@page "/ladder"
@inject HttpClient Http
@using data = AFLTips.Shared.DataModels

<h1>Ladder</h1>

@if (ladder == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
            <tr>
                <th/>
                <th/>
                <th style="text-align: center">W</th>
                <th style="text-align: center">D</th>
                <th style="text-align: center">L</th>
                <th style="text-align: center">Pts</th>
                <th style="text-align: center">%</th>
            </tr>
        @foreach (var position in ladder.LadderPositions)
        {
            <tr>
                <th>@position.Rank</th>
                <th><img src="/images/team-logos/@(position.TeamId).png" alt="Image" width="50" height="50"> @position.TeamName</th>
                <th>@position.Wins</th>
                <th>@position.Draws</th>
                <th>@position.Losses</th>
                <th>@position.Points</th>
                <th>@position.Percentage</th>
            </tr>
        }
    </table>
}

@code {
    private data.Ladder ladder;

    protected override async Task OnInitializedAsync()
    {
        ladder = await Http.GetFromJsonAsync<data.Ladder>("api/ladder");
    }
}