@page "/ladder"
@inject HttpClient Http
@using data = AFLTips.Shared.DataModels

<h1>Ladder</h1>

@if (ladder == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <tr>
                    <th />
                    <th />
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>Pts</th>
                    <th>%</th>
                </tr>
                @foreach (var position in ladder.LadderPositions)
                {
                    <tr>
                        <th>@position.Rank</th>
                        <th><img src="/images/team-logos/@(position.TeamId).png" alt="Image" width="40" height="40"> @position.TeamName</th>
                        <th>@position.Wins</th>
                        <th>@position.Draws</th>
                        <th>@position.Losses</th>
                        <th>@position.Points</th>
                        <th>@position.Percentage</th>
                    </tr>
                }
            </table>
        </div>
    </div>
}

@code {
    private data.Ladder ladder;

    protected override async Task OnInitializedAsync()
    {
        ladder = await Http.GetFromJsonAsync<data.Ladder>("api/ladder");
    }
}